
*{
    box-sizing:border-box
}

img{
    width:100%;
}

  
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

div{
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
    width:100vw;
    height: 10vh;
}

div h2{
    color:fuchsia;
    font-size: 24px;
    font-weight:900;
    text-transform: uppercase;
}

div p{
    margin:0;
    font-size: 36px;
}

main{
    width:100vw; 
    justify-content: center; 
    background-position:top;
    background-repeat: no-repeat;
}

.background{
    opacity:0.8;
    width: 100vh;
    transform: translateX(-50%);
}
article{
    background-color:rgba(255,255,255,0.9);
    border: 2px solid #959595;
    border-radius: 3vw;
    width:35vw;
    padding:2%;
    margin: 1%;
    text-align: justify;
}

span{
   width:100%;
}
article p{
    margin-top: 2vh;
    font-size: 16px;
    margin-bottom:4vh;
}

figure{
    width:15vw;
    height: 20vh;
    margin-bottom: 30vh;
    transform: translateX(15%);
}

ul a{
    text-decoration:none;
    font-weight: 900;
    color:fuchsia;
}
