*{
   box-sizing: border-box;
}

img {
    width:100%;
}

.flex {
    display: flex;
}


section{
    flex-direction: column;
    text-align: center;
    margin:0;
    width:100vw;
    height: 100vh;
}

section h2{
    color:fuchsia;
    font-size: 24px;
    font-weight:900;
    text-transform: uppercase;
}

form{
    transform: translateX(130%);
    width:50vw;
    flex-direction: column;

}
input[type="text"]{
    width:60%;
    height:10vh;
    font-size: 24px;
    margin:3%;
}

input[type="text"]:hover {
    border: solid 2px fuchsia;
  }

input[type="submit"]{
    background-color:rgb(14, 14, 14);
    color: #fafafa;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 3%;
    box-shadow: 10px 6px 6px rgb(197, 197, 197);
}

input[type="submit"]:hover {
    background-color: fuchsia;
    color: white;;
  }


