*{
    box-sizing:border-box
}

img{
    width:100%;
}

body {
    width:100vw;
    margin: 0;
    background-color: #fafafa;
    font-family:Arial, Helvetica, sans-serif ;
}
  
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

div{
    flex-direction: column;
    text-align: center;
    margin-bottom: 1%;
    width:100vw;
    height: 10vh;
}

div h2{
    color:fuchsia;
    font-size: 24px;
    font-weight:900;
    text-transform: uppercase;
}

div p{
    margin:0;
    font-size: 36px;
}

main{
    position: relative;
    width:100vw;  
    justify-content: center; 
    background-position:top;
    background-repeat: no-repeat;
}

.background{
    position: absolute;
    width: 100vh;
    transform: translateX(-50%);
}

table{
    position: absolute;
    background-color:rgba(255,255,255,0.9);
    border: 2px solid #959595;
    width: 55vw;
    border-radius: 3vw;
    padding:2%;
    margin: 0;
    transform: translateX(23vw);
    text-align: justify;
}   

thead{
    line-height: 3em;
}

tbody{
    line-height: 1.5em;
}

figure{
    width:15vw;
    height: 20vh;
    margin-bottom: 40%;
    transform: translateX(15%);
}

tbody a{
    text-decoration: none;
    color: fuchsia;
    font-weight:700 ;
}

tbody a:hover{
    color: rgb(0, 0, 0);
}


