*{
    box-sizing:border-box
}

img{
    width:100%;
}
body {
    width:100vw;
    margin: 0;
    background-color: #fafafa;
    font-family:Arial, Helvetica, sans-serif ;
}

html, body{
    height: 100%;
}
  
.flex {
    display: flex;
}
  
.wrap {
    flex-wrap: wrap;
}

header{
    width:100vw;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    padding-top: 1vw;
    padding-left: 8vw;  
}

.logo {
    width: 350px;
    height: 100px;
}

input{
    transform: translate(-550px, 13px);
    width: 15vw;
    height: 5vh;
    border-radius: 7.5vw;
}

nav{
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width:10vw;
    top: 0;
    right:0;
    padding-right: 33vw;
    padding-top: 5vw;
}

nav a{
    padding-left: 1vw;
    text-decoration: none;
    color: black;
    font-weight: 700;
} 

nav a:hover{
    color:fuchsia;
} 

.carousel{
    position:relative;
    width:100vw;
    height:75vh;
}

#banner{
    position:absolute;
    width:100vw;
    height:75vh;
    margin:0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: fuchsia;
    color:#fafafa;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    left: 0;
    transition: all 0.3s ease-out;
}

#banner img{
    position: absolute;
    transform: translateY(140px);
    width:100vw;
    mix-blend-mode: darken;
}

#banner span,
#banner p,
.btn,
#banner i
{
    position: absolute;
}

#banner span{
    color: #fafafa;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5vw;
}

.btn{
    margin-top: 20vh;
    width:10vw;
    height:10vh; 
    background-color:fuchsia;
    color:#fafafa;
    border:  2px solid #fafafa;
    font-size: 0.5em;
    text-decoration: none;
    text-align: center;
    padding-top: 3vh;
    border-radius:5vh;
}

.btn:hover{
    background-color:#fafafa;
    color: fuchsia;   
}

#banner i{
    color:white;
}


.banner img{
    transform:  translate(-10px, 50px)!important;
}

.slide-image2{
    transform:  translate(-0px, 50px)!important;

}
hr
{
    width: 80vw;
}

section{
    width: 80vw;
    height: 30vh;
    margin:0;
}

footer{
    width:100vw;
    height:5vh;
    background-color: rgb(0, 0, 0);
    color: #fafafa;
    text-align: center;
}
